footer {
  .social-link-item {
	margin: 0 0 0 10px;
  }
  .socials-line {
	flex-direction: row;
	justify-content: flex-start;
	margin: size(20) 0;
  }
}
.footer-main {
  position: relative;
}
.foo-title-opacity {
  opacity: 0;
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  position: relative;
	  @include foo-menu;
	  color: #5a5a5a;
	  padding-right: 10px;
	  transition: color ease-out .5s;
	  &:hover {
		color: $green-decori;
	  }
	}
	&:before {
	  position: absolute;
	  content: '';
	  top: 12px;
	  width: 3px;
	  height: 3px;
	  right: 0;
	  @include d-center;
	  border-radius: 50%;
	  background-color: #5a5a5a;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: center;
	  padding-right: 0;
	}
	&:before {
	  display: none;
	}
  }
}
.foo-title {
  color: #6c6259;
  font-size: size(17);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  margin-bottom: size(34);
}
.footer-container-menu {
  padding-top: size(95);
  padding-bottom: size(95);
  border-bottom: 1px solid $text-decori;
}
#go-top {
  position: absolute;
  right: 50px;
  top: -3.8rem;
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid #ffffff;
  background-color: $title-decori;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  padding: size(17);
  z-index: 999;
  img {
	width: size(27);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  @media (max-width: 768px) {
	right: calc(50% - 40px);
	left: calc(50% - 40px);
  }
}
.to-top-text {
  font-size: size(14);
  line-height: size(15);
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: size(13);
}
.float-form, .float-search {
  position: fixed;
  left: 5%;
  top: 100px;
  width: 50%;
  max-height: 100vh;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  transition: all ease-out .5s;
  pointer-events: none;
  &.show-float-form{
	pointer-events: all;
	opacity: 1;
	transform: translateX(0);
  }
  @media (max-width: 650px) {
	width: 95%;
	left: 2.5%;
  }
}

.social-link-item {
  @include d-center;
  width: size(44);
  min-width: size(44);
  height: size(44);
  padding: size(10);
  background-color: $green-decori;
  border-radius: 50%;
  margin: 0 0 14px 0;
  transition: transform ease-out .5s;
  &:hover {
	transform: scale(0.95, 0.95);
  }
  img {
	max-height: 100%;
  }
}
.socials-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tnp-subscription {
  margin: 0 !important;
  width: 100% !important;
  max-width: unset !important;
}
.pay-text {
  color: #60626b;
  font-size: size(17);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
.pay-row {
  img {
	max-height: size(22);
  }
}
.pay-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.newsletter-block {
  padding: size(82) 0;
  background-color: $title-decori;
  .tnp-subscription {
	padding: size(33) size(40);
	border: 2px solid #ffffff;
  }
  .tnp-privacy-field {
	input[type="checkbox"] {
	  width: 12px;
	  height: 12px;
	  min-width: 12px;
	  margin-left: 7px;
	}
	label {
	  color: #ffffff;
	  font-size: size(16);
	  font-weight: 400;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(27);
	}
  }
  .tnp-subscription div.tnp-field {
	margin-bottom: 0;
  }
  .tnp-field-email {
	flex-grow: 1;
	::placeholder {
	  color: #959595;
	  font-size: size(21);
	  line-height: size(22);
	  font-weight: 400;
	}
	input {
	  background-color: #ffffff;
	  padding: size(10) size(30);
	  height: size(56) !important;
	}
  }
  .tnp-subscription input.tnp-submit {
	background-color: $green-decori;
	padding: size(10) size(32);
	color: #ffffff;
	font-size: size(21);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(28);
	height: size(56);
  }
  @media (max-width: 992px) {
	svg {
	  width: size(45);
	}
  }
  @media (max-width: 450px) {
	.tnp-field-button {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}
.foo-form-title {
  color: #fdfdfd;
  font-size: size(26);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  margin-bottom: size(5);
  @media (max-width: 992px) {
	@include h6;
  }
  @media (max-width: 576px) {
	text-align: center;
  }
}
.tnp-field-wrap {
  display: flex;
  align-items: stretch;
  @media (max-width: 450px) {
	flex-wrap: wrap;
  }
}
.sl-foo-gal {
  padding: 1px;
}
.foo-gal-img {
  @include d-center;
  width: 100%;
  position: relative;
  overflow: hidden;
  &:hover img {
	transform: scale(1.1, 1.1);
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	transition: transform ease-out .5s;
  }
}
.foo-benefits {
  padding: size(39) 0 size(52) 0;
  background-color: $green-decori;
  .col-xl-10 {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .why-item-title, .why-item-text {
	color: #ffffff;
  }
  //@media (max-width: 1800px) {
	//.why-icon-wrap {
	//  height: 2.5rem;
	//}
  //}
  .why-item-col {
	border-left: 1px solid #ffffff;
	&:last-child {
	  border-left: none;
	}
	@media (max-width: 1200px) {
	  &:nth-child(3), &:nth-child(6) {
		border-left: none;
	  }
	}
	@media (max-width: 768px) {
	  &:nth-child(even) {
		border-left: none;
	  }
	  &:nth-child(3), &:nth-child(6) {
		border-left: 1px solid #ffffff;
	  }
	}
	@media (max-width: 576px) {
	  border-left: none !important;
	}
  }
}
.page-body {
  .base-output input {
	color: $title-decori;
  }
  .checkout {
	.form-row {
	  flex-direction: column;
	}
  }
  .check-col {
	.woocommerce-input-wrapper {
	  flex-grow: 1;
	}
  }
  .woocommerce-input-wrapper {
	input, select, textarea, .select2-container, .select2-container .select2-selection--single {
	  height: size(54);
	  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
	  background-color: #ffffff;
	}
  }
  .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
	height: 100%;
	display: flex;
	align-items: center;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
  }
  ul.woocommerce-error {
	margin: 1rem 0;
	padding: 1rem;
  }
}
