//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(23);
  background-position: calc(100% - 14px);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 textarea {
  height: size(157);
  padding: size(21) size(23);
  ::placeholder {
	opacity: 0.5;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	opacity: 0.5;
  }
}
div.wpcf7 input[type="submit"] {
  @include submit-link-style;
}
.form-wrapper {
  padding: size(68) size(35) size(38) size(35);
  border-radius: 15px;
  background-color: #6f6f6f;
}
.form-title {
  font-size: size(35);
  line-height: size(40);
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin-bottom: size(21);
  strong {
	font-weight: 600;
  }
  @media (max-width: 1200px) {
	font-size: size(30);
	line-height: size(25);
  }
}
