.bread-row {
  margin-top: size(26);
  a, span {
	color: #414045;
	font-size: size(20);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(48);
	text-align: center;
	transition: color ease-out .5s;
  }
  a:hover {
	color: $green-decori;
  }
}
.pop-trigger {
  cursor: pointer;
}
.triggers-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .social-link-item {
	margin: 8px;
  }
}
.pop-great {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 88;
  transition: all ease-out .5s;
  &.show-popup {
	pointer-events: all;
	opacity: 1;
  }
}
//Dropdown
.drop-container {
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  right: 16%;
  width: 100%;
  height: auto;
  display: none;
  z-index: 999999;
  //&.show {
  //opacity: 1;
  //transition: opacity .5s;
  //}
}
#desktopNav {
  @include d-center;
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: size(29) 10px;
	  border-bottom: 2px solid transparent;
	  transition: border-bottom-color ease-out .5s;
	  a{
		@include base-text;
		text-align: center;
		color: #39393a;
		transition: color .5s;
	  }
	  &:hover {
		border-bottom: 2px solid $green-decori;
	  }
	}
  }
}
.header-bottom {
  border-top: 1px solid $text-decori;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.menu-images {
  display: none;
}
.header-tel {
  @include h4;
  color: #ffffff !important;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  @media (max-width: 1600px) {
	@include h6;
  }
}
.single-msg {
  * {
	@include foo-menu;
	color: #ffffff;
	text-align: center;
  }
}
.flash-msg-wrap {
  background-color: $title-decori;
  padding: size(15) 0;
  .single-msg {
	a {
	  @include d-center;
	}
  }
}
header {
  &.fixed {
	.flash-msg-wrap {
	  display: none;
	}
  }
}
.tel-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	margin-left: 8px;
  }
  .header-tel {
	margin: 0 4px;
  }
}
.tel-col-mobile {
  display: none;
}
.header-btn .count-circle {
  position: absolute;
  right: -5px;
  top: -5px;
  width: size(22);
  height: size(22);
  border: 1px solid $title-decori;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title-decori;
  font-size: 11px;
  background-color: #fff;
  border-radius: 50%;
}
.header-btn {
  position: relative;
  margin-right: size(8);
  svg {
	width: size(40);
	height: size(40);
  }
}
.close-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
.header-top {
  padding: size(15) 0;
}
.float-search {
  background-color: $title-decori;
  padding: 5%;
  .search-input {
	background-color: #ffffff;
	color: $title-decori;
	height: size(50);
	font-size: size(18);
	flex-grow: 1;
	&::placeholder {
	  color: $title-decori !important;
	  font-size: size(18);
	  font-weight: 300;
	}
  }
  .search-form {
	display: flex;
	width: 100%;
  }
  .search-submit {
	width: size(50);
	height: size(50);
	background-image: url("../iconsall/search.svg");
	background-position: center;
	background-size: size(35);
	background-repeat: no-repeat;
	background-color: #ffffff;
  }
}
.alert-info {
  background-color: $green-decori;
  color: #ffffff;
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 19px;
	max-width: 19px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 19px;
	width: 19px;
	background-color: #ffffff;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}
.logo-col-header {
  .logo {
	img {
	  max-height: size(61);
	}
  }
}
.logo {
  @include d-center;
}
