// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin input-text {
  color: #1c1d1a;
  font-size: size(22);
  line-height: size(26);
  font-weight: 300;
}
@mixin input-style {
  padding-right: size(56);
  height: size(63);
  border-radius: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: size(28);
  @media (max-width: 1600px) {
	height: size(53);
	padding-right: size(44);
	background-size: size(18);
	border-radius: size(15);
  }
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-top: 0;
  }
  100% {
	margin-top: -16px;
  }
}
@mixin submit-link-style {
  background-position: 12px center;
  background-repeat: no-repeat;
  height: size(63);
  background-color: $green-decori;
  background-image: url("../iconsall/form-submit.png");
  background-size: size(38);
  color: #ffffff !important;
  font-size: size(25);
  line-height: size(20);
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  padding: size(5) size(128);
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 5px center;
  }
  @media (max-width: 1400px) and (min-width: 1200px){
	font-size: size(20);
	line-height: size(20);
  }
  @media (max-width: 1600px) {
	height: size(53);
	background-size: size(28);
	border-radius: size(15);
  }
  @media (max-width: 1200px) {
	height: size(53);
	background-size: size(28);
	border-radius: size(15);
	padding: size(5) size(60);
  }
  @media (max-width: 650px) {
	padding: size(5) size(40) size(5) size(55);
  }
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin h1 {
  font-size: size(40);
  line-height: size(44);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(38);
	line-height: size(34);
  }
}
@mixin h2 {
  font-size: size(38);
  line-height: size(34);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(35);
	line-height: size(40);
  }
}
@mixin h3 {
  font-size: size(32);
  line-height: size(30);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(27);
	line-height: size(34);
  }
}
@mixin h4 {
  font-size: size(27);
  line-height: size(34);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(24);
	line-height: size(30);
  }
}
@mixin h5 {
  font-size: size(24);
  line-height: size(30);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(22);
	line-height: size(26);
  }
}
@mixin h6 {
  font-size: size(22);
  line-height: size(25);
  font-weight: 400;
  @media (max-width: 1600px) {
	font-size: size(20);
	line-height: size(22);
  }
}
@mixin base-text {
  font-size: size(20);
  line-height: size(24);
  font-weight: 300;
  color: $text-decori;
}
@mixin foo-menu {
  font-size: size(18);
  line-height: size(20);
  font-weight: 400;
  color: #5a5a5a;
}
