//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: 12px;
	height: 21px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: -38px;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 35px;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.arrows-slider-bottom {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: -70px;
	top: unset;
  }
  [dir="rtl"] .slick-next {
	left: 10%;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	left: calc(10% + 51px);
	right: unset;
  }
}
.arrows-slider-gallery {
  [dir="rtl"] .slick-next {
	left: -20px;
  }
  [dir="rtl"] .slick-prev {
	right: -20px;
  }
}
.base-slider-block {
  position: relative;
  padding: size(80) 0;
}
.slider-img-col {
  position: relative;
  @include d-center;
  @media (max-width: 992px) {
	margin-top: 3rem;
  }
}


//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  &:hover {
	.post-inside-image img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.post-inside-image {
  width: 100%;
  @include d-center;
  position: relative;
  overflow: hidden;
  background-color: #e3e1e1;
  border-radius: 15px;
  margin-bottom: size(17);
  &:after {
	content: '';
	display: block;
	padding-bottom: 130%;
  }
  img {
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	position: absolute;
	transition: transform ease-out .5s;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.post-card-title {
  @include h5;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.post-card-title-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $green-decori;
  padding: size(10) size(15);
  @include d-center;
  max-height: size(90);
}
.post-col {
  margin-bottom: size(30);
}
.post-link {
  @include base-text;
  font-weight: 300;
  margin-top: size(14);
  color: #414045 !important;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $green-decori !important;
  }
}
//Benefits block
.reviews-block {
  @include back-img;
  position: relative;
  padding: size(67) 0;
}
.benefits-block-overlay {
  @include overlay;
  background-color: rgba(246, 246, 246, 0.9);
}
.benefits-container {
  position: relative;
  z-index: 3;
}
.why-item-col {
  margin-top: size(42);
}
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.why-icon-wrap {
  @include d-center;
  height: size(90);
  margin-bottom: size(16);
  img {
	max-height: 100%;
  }
}
.why-item-title, .why-item-text {
  color: #6f6f6f;
  font-weight: 300;
  text-align: center;
}
.why-item-title {
  @include h4;
}
.why-item-text {
  font-size: size(19);
  line-height: size(34);
}
//Reviews
.reviews-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid $green-decori;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 72px;
  height: 100%;
  .base-output p {
	margin-bottom: 0;
  }
}
.mb-relative {
  padding-bottom: 72px;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: size(50) 14%;
  @media (max-width: 1200px) {
	padding: size(35) size(20) 0 size(20);
  }
}
.review-title {
  @include h4;
  color: #4e4e4e;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: size(16);
}
.review-link {
  @include d-center;
  @include base-text;
  text-align: center;
  color: #414045;
  transition: color ease-out .5s;
  &:hover {
	color: $green-decori;
  }
}
.review-image {
  @include d-center;
  width: 141px;
  height: 137px;
  border-radius: size(40);
  border: 1px solid $green-decori;
  background-color: #818181;
  overflow: hidden;
  img {
	min-width: 100%;
	max-width: unset;
	min-height: 100%;
  }
  position: absolute;
  bottom: -70px;
  z-index: 5;
}
.blog-page {
  margin-top: 19px;
}
.more-link {
  @include d-center;
  min-width: 185px;
  height: size(52);
  border-radius: 15px;
  border: 2px solid $green-decori;
  background-color: #ffffff;
  @include h5;
  color: #414045;
  text-align: center;
  transition: color, background-color ease-out .5s;
  &:hover {
	background-color: $green-decori;
	color: #ffffff;
  }
  &.hide {
	display: none;
  }
}
