/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  .col-xxl-4 {
	flex: 0 0 25%;
	max-width: 25%;
  }
  .col-xxl-5 {
	flex: 0 0 40%;
	max-width: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
	font-size: 20px;
  }
  .container {
	max-width: 75%;
  }
  .why-item-col {
	flex: 0 0 20%;
	max-width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
	font-size: 18px;
  }
  .posts-block-same {
	.post-col {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
}
@media (min-width: 993px) {
  #MainNav {
	display: none !important;
  }
  #desktopNav {
	.back-to-menu, .sub-head {
	  display: none;
	}
  }
  .drop-container {
	max-width: 78%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	.second-sub-menu {
	  margin-left: 1rem;
	  flex: 0 0 100%;
	  max-width: 100%;
	  a {
		@include base-text;
		&:hover {
		  font-weight: 600;
		  color: $green-decori;
		}
	  }
	  &.menu-item-has-children {
		flex-direction: column;
	  }
	}
  }
  header .drop-container ul.sub-menu {
	display: flex;
	flex-wrap: wrap;
	padding: size(57) 10%;
	li {
	  &.menu-item-has-children {
		border-left: 1px solid #000000;
		flex: 0 0 20%;
		max-width: 20%;
		&:last-child {
		  border: none;
		}
	  }
	  a {
		@include h5;
		color: $title-decori;
		&:hover {
		  font-weight: 600;
		  color: $green-decori;
		}
	  }
	}
	ul.sub-menu {
	  flex-direction: column;
	  li {
		a {
		  @include base-text;
		  &:hover {
			text-decoration: underline;
			color: #333333;
		  }
		}
	  }
	}
  }
  header {
	position: relative;
  }
  header #desktopNav {
	ul.sub-menu {
	  display: none;
	  //position: absolute;
	  //display: flex;
	  //flex-direction: column;
	  //top: 100%;
	  //background: white;
	  //right: 0;
	  //width: 100%;
	  //opacity: 1;
	  //pointer-events: none;
	  //height: auto;
	  //z-index: 2222;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
	font-size: 19px;
  }
  #desktopNav {
	display: none;
  }
  .home-about-block {
	.base-output {
	  align-items: center;
	}
  }
  .mobile-title-row {
	display: flex;
	.block-title {
	  text-align: right;
	  margin-bottom: 0;
	}
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 1rem;
  }
  .woocommerce div.product .product_title {
	display: none;
  }
  .post-title-main {
	display: none;
  }
  .post-title-mobile {
	display: flex;
  }
  .post-img-col {
	order: -1;
	margin-bottom: 2rem;
	margin-top: 0;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
	font-size: 18px;
  }
  .footer-main {
	padding-top: 50px;
  }
  .posts-block-same {
	.post-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	  &:last-child {
		display: block;
	  }
	}
  }
  .logo-col-header {
	order: -1;
  }
  .col-hidden{
	display: none !important;
  }
  .logo-col-header {
	.logo {
	  margin-bottom: 15px;
	  img {
		max-height: size(61);
	  }
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
	font-size: 17px;
  }
  .slider-single-section {
	margin: 3.25rem 15px;
  }
  .product-gallery-col {
	[dir="rtl"] .slick-next {
	  left: 0;
	}
	[dir="rtl"] .slick-prev {
	  right: 0;
	}
	.thumbs {
	  padding: 0 30px;
	}
  }
  .posts-block-same {
	.post-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 650px) {
  .tel-col {
	display: none;
  }
  .tel-col-mobile {
	@include d-center;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: $green-decori;
	border-radius: 50%;
	border: 2px solid #ffffff;
	width: size(50);
	height: size(50);
	padding: 5px;
	z-index: 99;
	animation: jump 1.2s ease-in-out alternate infinite;
	img {
	  margin: 0;
	}
  }
  .reviews-block {
	.reviews-slider {
	  margin-bottom: 3rem;
	}
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2rem);
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 3rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 3rem);
	}
  }
}
@media (max-width: 520px) {
  .mini-cart-wrap {
	width: 100vw;
  }
}
@media (max-width: 450px) {
  .woocommerce div.product form.cart .variations .select-variation {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 8px;
  }
  .woocommerce div.product form.cart .variations {
	flex-wrap: wrap;
  }
  .woocommerce-mini-cart .woocommerce-mini-cart-item {
	flex-direction: column;
	align-items: center;
	.mini__prod-thumb {
	  margin-bottom: 15px;
	}
  }
}
