.qty-wrap {
  height: size(60);
  background-color: #ffffff;
  overflow: hidden;
  width: 132px;
  margin-right: 14px;
  display: flex;
  border: 2px solid $green-decori;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }

  /* Firefox */
  input[type=number] {
	-moz-appearance: textfield;
  }
  input{
	width: 50px;
	height: size(60);
	text-align: center;
	background-color: #ffffff;
	color: $title-decori;
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
  }
  .plus, .minus{
	font-size: size(24);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: $title-decori;
	transition: all .5s;
	&:hover{
	  background-color: #ffffff;
	  color: $title-decori;
	}
  }
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 30px;
	max-width: 30px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 30px;
	width: 30px;
	background-color: $green-decori;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}
.remove_from_cart_x{
  width: 20px;
  height: 20px;
  cursor: pointer;
  svg{
	fill: $title-decori;
  }
}
.preloader{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  svg {
	fill: $green-decori;
	width: 10%;
  }
  &.now-loading{
	opacity: 1;
	pointer-events: all;
  }
}
.product-summary .product_meta {
  margin-bottom: 13px;
  .posted_in {
	display: none !important;
  }
  .sku_wrapper {
	@include base-text;
	font-weight: 400;
	color: $title-decori;
  }
}
.share-text {
  @include base-text;
  font-weight: 400;
  color: $title-decori;
}
.woocommerce div.product form.cart .button {
  height: size(60);
  background-color: $green-decori;
  text-align: center;
  color: #ffffff;
  border-radius: 0 !important;
  @include h4;
  padding: size(12) size(58);
  white-space: nowrap;
}
.woocommerce div.product form.cart .variations {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 -4px;
  .select-variation {
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	padding: 0 4px;
	select {
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 0;
	  height: 41px;
	  border: 1px solid $green-decori;
	  background-color: #ffffff;
	  @include base-text;
	  font-weight: 400;
	  color: $title-decori;
	  background-image: url("../iconsall/arrow-down.png");
	  background-position: size(11) center;
	  background-size: size(14);
	  background-repeat: no-repeat;
	  padding: 2px 10px 2px size(25);
	}
  }
}
.woocommerce-variation-add-to-cart {
  display: flex;
}
.woocommerce div.product .product_title {
  @include h2;
  margin-bottom: 13px;
}
.woocommerce-product-details__short-description {
  p, li {
	color: #979696 !important;
	margin-bottom: size(16) !important;
  }
}
.woocommerce div.product form.cart .reset_variations {
  color: $title-decori;
}
.woocommerce-variation-price, .product-summary .price {
  margin-bottom: size(19);
  * {
	color: #c5c5c5;
	font-size: size(25);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(30);
  }
  span.price ins {
	text-decoration: unset;
	bdi {
	  text-decoration: unset;
	}
  }
}
.socials-share {
  display: flex;
  align-items: center;
  .social-share-link {
	margin-right: 12px;
  }
}
//Accordion (product)
.accordion-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
	padding: 0;
	border: none !important;
  }
}
.product-info-acc {
  margin-bottom: size(30);
  .card {
	border: none !important;
	border-radius: 0 !important;
	padding: 0.5rem 0;
  }
  .slider-output {
	@include base-text;
	color: #979696;
  }
  .accordion-button-wrap {
	margin-bottom: 0;
	padding: 0;
	width: 100%;
  }
}
.product-info-title {
  @include base-text;
  color: $title-decori;
  font-weight: 400;
}
.accordion-symbol {
  width: size(14);
  transition: transform ease-out .5s;
  &.show-icon {
	transform: rotate(180deg);
  }
}
.card .slider-output {
  padding-top: 1rem;
}
.slider-item {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  @include d-center;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 75.5%;
  }
  img {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	max-width: unset;
	transition: transform ease-out .5s;
  }
  margin: 10px;
  &:hover img {
	transform: scale(1.1, 1.1);
  }
}
.thumb-item {
  &:after {
	padding-bottom: 89.5%;
  }
}
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $green-decori;
}
.yith-wcwl-add-button, .yith-wcwl-wishlistexistsbrowse {
  position: absolute;
  z-index: 999;
  background-color: transparent !important;
  top: size(18);
  left: size(15);
  .fa-heart:before {
	color: #ffffff;
  }
  .button {
	background: transparent !important;
	padding: 0!important;
  }
}
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd {
  margin-bottom: 0;
}
.yith-wcwl-add-to-wishlist {
  margin-top: 0;
}
.mini_cart_item i.fa-heart:before, .mini_cart_item .yith-wcwl-add-to-wishlist a {
  color: #ffffff !important;
}
.yith-wcwl-add-button {
  .fa-heart:before {
	color: #ffffff;
  }
}
.mobile-title-row {
  display: none;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-info::before {
  border-top-color: $title-decori;
}

.mini-cart-wrap{
  position: fixed;
  left: 0;
  top: 0;
  width: 491px;
  z-index: 999999999999;
  height: 100%;
  box-shadow: -4px -3px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform .5s;
  &.show-cart{
	transform: translateX(0);
  }
}
.my-bag{
  text-align: center;
  font-size: size(21);
  line-height: size(21);
  color: #222222;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.cart-header{
  @include d-center;
  height: size(40);
  background-color: $title-decori;
  margin-bottom: size(21);
  button{
	background: transparent;
	border: none;
	img {
	  width: size(26);
	  cursor: pointer;
	}
  }
}
.user-hello{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
  a, h6 {
	color: #222222;
	transition: color .5s;
	font-size: size(20);
	font-weight: 400;
	margin-bottom: 3px;
	&:hover{
	  color: $green-decori;
	}
  }
}
.woocommerce-mini-cart__empty-message{
  text-align: center;
  font-size: size(40);
}
.mini-cart-logo {
  @include d-center;
  img {
	max-height: size(52);
  }
}
.woocommerce-mini-cart{
  .woocommerce-mini-cart-item{
	position: relative;
	border-top: 2px solid rgba(86, 87, 92, 0.1);
	justify-content: space-between;
	display: flex;
	padding: size(20) !important;
  }
  .remove_from_cart_button{
	font-size: size(35);
	color: $title-decori;
	position: absolute;
	top: 10px;
	left: 1rem;
  }
  .qty-wrap{
	width: 130px;
  }
  .mini__prod-thumb{
	width: size(153);
	min-width: size(153);
	height: size(140);
	box-shadow: 0 1px 5px 1px rgba(43, 40, 40, 0.1);
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	border-radius: 0;
	@include d-center;
	overflow: hidden;
	img{
	  min-height: 100%!important;
	  width: auto!important;
	  max-width: unset;
	  min-width: 100%;
	  display: block;
	}
  }
  .mini__prod-info{
	width: auto;
	flex-grow: 1;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.variation {
	  display: none;
	  border: 0;
	  padding-right: 0;
	}
	.title{
	  @include foo-menu;
	  font-weight: 400;
	  color: $title-decori;
	  font-style: normal;
	  letter-spacing: normal;
	  text-align: center;
	  padding-bottom: 10px;
	  a {
		color: #444444;
		@include base-text;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
	  }
	  border-bottom: 2px solid #b7b7b7;
	}
  }
  .mini__price{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: size(14);
	del, ins{
	  color: #959595;
	  text-align: center;
	  font-size: size(18);
	  font-weight: 600;
	}
	ins{
	  text-decoration: none;
	}
  }
  .qty-wrap {
	height: size(29);
	border-radius: 5px;
	border: 2px solid $green-decori;
	background-color: #ffffff;
	input{
	  width: 40px;
	  height: size(29);
	  text-align: center;
	  background-color: #ffffff;
	  color: $title-decori;
	  font-weight: 600;
	  padding: 0 4px;
	  font-size: size(20);
	  line-height: size(20);
	}
	input, .plus, .minus{
	  flex: auto;
	  cursor: pointer;
	}
	.plus, .minus{
	  font-size: size(24);
	  font-weight: 600;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background-color: #ffffff;
	  color: #000000;
	  transition: all .5s;
	  &:hover{
		background-color: #ffffff;
		color: $title-decori;
	  }
	}
  }
}
.mini-cart-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  border-top: 1px solid $title-decori;
  padding: size(15) size(5);
  .woocommerce-mini-cart__total{
	display: flex;
	justify-content: space-between;
	@include h5;
	color: $title-decori;
	padding: 0 20px;
  }
}
.mini__checkout{
  height: size(40);
  background-color: $green-decori;
  display: flex;
  padding: 10px size(52);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: size(21);
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  width: 230px;
  border-radius: 15px;
  transition: transform ease-out .5s;
  &:hover {
	color: #ffffff;
	transform: scale(0.95, 0.95);
  }
}
.woocommerce-mini-cart.cart_list{
  height: calc(100vh - 257px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}
.product-item-col {
  .product_type_simple, .added_to_cart, .add_to_cart_button, .product_type_variable {
	position: absolute !important;
	bottom: 0;
	right: 0;
	width: 100%;
	height: size(47);
	padding: size(5) size(10) !important;
	font-size: size(24) !important;
	line-height: size(30) !important;
	font-weight: 400 !important;
	@media (max-width: 1600px) {
	  font-size: size(22);
	  line-height: size(26);
	}
	color: #ffffff !important;
	z-index: 99;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: $green-decori !important;
	opacity: 0;
	transform: translateY(-100%);
	transition: all ease-out .5s;
	pointer-events: none;
  }
  .added_to_cart {
	opacity: 1 !important;
	transform: translateY(0) !important;
	pointer-events: auto !important;
  }
  &:hover {
	.product_type_simple {
	  opacity: 1;
	  pointer-events: auto;
	  transform: translateY(0);
	}
  }
  a.woocommerce-LoopProduct-link {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
  .woocommerce-loop-product__title {
	@include h6;
	font-weight: 300;
	color: #414045;
	text-align: center;
	transition: color ease-out .5s;
	&:hover {
	  color: $green-decori;
	}
  }
  .price {
	width: 100%;
	display: flex;
	justify-content: center;
	* {
	  @include base-text;
	  font-weight: 700;
	  color: #c5c5c5;
	  text-align: center;
	}
	ins {
	  text-decoration: unset;
	}
	.woocommerce-Price-amount {
	  margin: 0 5px;
	}
  }
}
.product-img-card-wrapper {
  position: relative;
  @include d-center;
  width: 100%;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  background-color: #ffffff;
  padding: size(51) size(20);
  margin-bottom: size(26);
  img {
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	position: absolute;
	transition: transform ease-out .5s;
  }
}
.product-img-card-ins {
  position: relative;
  overflow: hidden;
  width: 100%;
  @include d-center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 132%;
  }
}
.woocommerce .woocommerce-ordering select.orderby {
  -webkit-appearance: none;
  @include h5;
  color: #414045;
  background-image: url("../iconsall/arrow-down.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: size(14);
  border: none;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
  display: none;
}
.tip-fixed {
  position: absolute;
  left: 0;
  top: size(24);
  z-index: 293;
  width: size(87);
  height: size(38);
  border-radius: 0 5px 5px 0;
  @include base-text;
  color: #ffffff;
  text-align: center;
  @include d-center;
  text-transform: uppercase;
  background-color: $title-decori;
}
.tip-fixed-new {
  background-color: #bd0101;
}
.tip-fixed-sale {
  background-color: $green-decori;
}
.woocommerce a.remove {
  color: $title-decori !important;
}
.woocommerce-info::before {
  color: $green-decori;
}
.sidebar-block {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  background-color: #ffffff;
  padding: size(30) size(40);
  @media (max-width: 768px) {
	margin-bottom: 2rem;
  }
  @media (max-width: 1800px) and (min-width: 769px){
	padding: size(30) size(20);
  }
  .card {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 15px;
  }
  .card-header {
	position: relative;
	padding: 0 0 0 size(45);
	border: none;
	background-color: #ffffff;
	border-radius: 0 !important;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&.active-card {
	  .accordion-trigger:after {
		content: '-';
	  }
	}
  }
  .accordion-trigger {
	-webkit-appearance: none;
	position: absolute;
	text-decoration: unset !important;
	left: 0;
	top: 0;
	width: size(40);
	height: size(40);
	border-radius: 0 !important;
	@include d-center;
	background-color: transparent !important;
	transition: color ease-out .5s;
	&:after {
	  content: '+';
	  @include h5;
	  color: $green-decori;
	  text-align: center;
	  font-weight: 600;
	}
  }
  .prod-cat-title {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@include h4;
	color: $title-decori;
	@media (max-width: 1800px) and (min-width: 769px){
	  @include h6;
	}
  }
  .box-list li {
	a {
	  @include foo-menu;
	  color: #979696;
	}
  }
  .card-body {
	padding: 14px 0 14px size(40);
  }
}
