@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header";
@import "footer";
@import "forms";
@import "partials";
@import "shop";


body{
  font-family: $assistant;
  text-align: right;
}
h1, h2, h3, h4, h5, h6 {
  color: $title-decori;
  font-weight: 400;
}
.base-output, .woocommerce-product-details__short-description {
  h1, h2, h3, h4, h5, h6 {
	margin-bottom: 17px;
  }
  h1 {
	@include h1;
  }
  h2 {
	@include h2;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(35);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
  a {
	color: $text-decori;
	transition: color ease-out .5s;
	&:hover {
	  color: $green-decori;
	}
  }
}
.base-output-post {
  p, li {
	color: #979696;
  }
}
.base-text {
  @include base-text;
}
.block-title {
  @include h2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: size(46);
}
.home-main-block {
  position: relative;
  height: 80vh;
  .main-slider {
	height: 100%;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
	height: 100%;
  }
  .slide-main {
	@include back-img;
	height: 100%;
	background-color: #f0ece0;
  }
  .slide-video {
	overflow: hidden;
	@include d-center;
	position: relative;
	height: 100%;
	video {
	  position: absolute;
	  min-height: 100%;
	  min-width: 100%;
	  object-fit: cover !important;
	}
  }
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	right: size(29);
	z-index: 9999;
	@media (max-width: 576px) {
	  flex-direction: row;
	  right: 0;
	  height: auto;
	  width: 100%;
	  top: unset;
	  bottom: 1rem;
	}
  }
  ul.slick-dots {
	li {
	  margin: 10.5px 0;
	  button {
		@include d-center;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: #ffffff;
		opacity: 1 !important;
		border: 2px solid #ffffff;
		@media (max-width: 650px) {
		  width: 14px;
		  height: 14px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $green-decori;
  }
}
.main-link {
  @include submit-link-style;
  @include d-center;
  min-width: size(288);
  height: size(52);
  background-position: 7px center;
  transition: all ease-out .5s;
  padding: size(10) size(40) size(10) size(74);
  background-size: size(38);
  border: 2px solid #ffffff;
  &:hover {
	background-position: 3px center;
  }
}
.homepage-main-title {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.13);
  color: #ffffff;
  font-size: size(80);
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(75);
  text-align: center;
  margin-bottom: size(19);
  @media (max-width: 1600px) {
	font-size: size(60);
	line-height: size(60);
  }
  @media (max-width: 1200px) {
	font-size: size(50);
	line-height: size(60);
  }
  @media (max-width: 992px) {
	font-size: size(48);
	line-height: size(50);
  }
  @media (max-width: 768px) {
	font-size: size(38);
	line-height: size(40);
  }
}
.logo-home {
  @include d-center;
  margin-bottom: size(27);
  img {
	max-height: size(232);
	@media (max-width: 1200px) {
	  max-height: size(180);
	}
  }
}
.main-block-home {
  @include overlay;
  @include d-center;
  z-index: 999;
}
.slider-img-wrap {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  background-color: #dad9d9;
  overflow: hidden;
  width: 100%;
  img {
	width: 100%;
	transition: transform ease-out .5s;
  }
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.post-form-col {
  position: sticky;
  top: 0;
}
.post-title-mobile {
  display: none;
}
//Categories
.home-categories-block {
  margin: size(90) 0;
}
.container-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  @media (max-width: 1200px) {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
  }
}
.category-col {
  position: relative;
  @include d-center;
  overflow: hidden;
  background-color: $title-decori;
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 58%;
  }
  img {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	transition: transform ease-out .5s;
  }
}
.category-name {
  position: absolute;
  bottom: size(29);
  @include d-center;
  width: 40%;
  padding: size(10) size(25);
  min-height: size(47);
  @include h5;
  font-weight: 700;
  color: #f9faf6;
  background-color: $green-decori;
  text-align: center;
  @media (max-width: 1600px) {
	width: 60%;
  }
  @media (max-width: 650px) {
	width: 80%;
	padding: 2px 10px;
	font-size: size(14);
	line-height: size(14);
	bottom: 9px;
	min-height: auto;
  }
}
//Banners
.banner-title, .banner-subtitle {
  color: #ffffff;
  text-align: center;
  margin-bottom: size(21);
}
.banner-title {
  font-size: size(45);
  line-height: size(45);
  font-weight: 400;
  @media (max-width: 1900px) and (min-width: 1440px){
	font-size: size(35);
	line-height: size(35);
  }
  @media (max-width: 576px) {
	font-size: size(35);
	line-height: size(35);
  }
}
.banner-subtitle {
  font-size: size(35);
  line-height: size(35);
  font-weight: 300;
  @media (max-width: 1900px) and (min-width: 1440px){
	font-size: size(25);
	line-height: size(25);
  }
  @media (max-width: 576px) {
	font-size: size(25);
	line-height: size(25);
  }
}
.banner-img {
  @include back-img;
  @media (max-width: 992px) {
	height: 300px;
  }
  @media (max-width: 576px) {
	height: 200px;
  }
}
.row-banner-item {
  border-radius: 15px;
  background-color: #414045;
  overflow: hidden;
  margin: 0;
  height: 100%;
}
.banner-content {
  padding: 20% size(36);
  @include d-center;
  flex-direction: column;
  @media (max-width: 1900px) and (min-width: 1440px) {
	padding: 20% size(10);
  }
  @media (max-width: 576px) {
	padding: 20% size(10);
  }
}
.banner-col {
  padding: 0 6px;
  &:nth-child(even) {
	flex-direction: row-reverse;
  }
  @media (max-width: 1440px) {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 6px;
	padding: 0 15px;
  }
}
//Products slider
.banners-block {
  margin-bottom: size(65);
  .main-link {
	border: none;
	width: auto;
	padding: 0.5rem 1rem 0.5rem 2.7rem;
  }
}
.products-slider-output {
  margin: size(65) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 150px;
	@media (max-width: 1200px) {
	  top: 200px;
	}
	@media (max-width: 650px) {
	  top: 45%;
	}
	@media (max-width: 576px) {
	  top: 105%;
	}
  }
  @media (max-width: 576px) {
	margin-bottom: 100px !important;
	[dir="rtl"] .slick-next {
	  left: calc(50% - 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2rem);
	}
  }
}
//Contact
.contact-icon-wrap {
  @include d-center;
  width: size(44);
  min-width: size(44);
  background-color: #ffffff;
  margin-left: size(21);
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(60);
}
.contact-info-title {
  @include base-text;
  color: #000000;
}
.contact-info {
  @include base-text;
  color: #979696;
  transition: color ease-out .5s;
  &:hover {
	color: $green-decori;
  }
}
.contact-page-body {
  margin-top: size(49);
  margin-bottom: size(68);
}
.map-image img {
  width: 100%;
  border-radius: 15px;
}
//Pages
.about-reviews {
  .reviews-block {
	background-image: none !important;
  }
  .benefits-block-overlay {
	display: none;
  }
}
.content-block {
  margin: size(90) 0;
}
.content-block-container:nth-child(even) {
  .row-content-block {
	flex-direction: row-reverse;
  }
}

@import "responsive";
